.img-title img{
    max-width: 100%;
    max-height: auto;
}
.paragraphe{
    color: #657480;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: x-large;
}
h1{
    font-weight: bold;
}
#presentation{
    padding: 25px;
    padding-left: 150px;
    padding-right: 150px;
}
.h_line{ 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height:2px;
    background-color: #657480;
    opacity: 25%;
}

img{
    width: 100%;
    height: auto;
}

