<template>

    <main>
        <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
        <navbar />
        <b-container fluid>
            <b-row class="pt-2">
                <b-col cols="2">
                    <div class="d-flex">
                        <h4>Recherche</h4>
                    </div>
                    <hr/>
                    <b-row class="pl-2 pb-2">
                        <input v-model="name" class="form-control" type="text" placeholder="Rechercher" aria-label="Rechercher">
                    </b-row>
                    <b-row class="pl-2 pb-2">
                        <b-button variant="outline-primary" v-on:click="searchGroceries()">Rechercher</b-button>
                    </b-row>
                    <div class="d-flex pt-2">
                        <h3>Filtres</h3>
                        <b-button class="ml-auto filter" variant="link" v-on:click="city=[];product=[];rate=[];name=null;searchGroceries()">Réinitialiser</b-button>
                    </div>
                    <hr/>
                    <b-col cols="12">
                        <div v-for="cityFilter in city" :key="cityFilter" class="pb-2">
                            <b-button pill variant="outline-secondary" v-on:click="removeFilters(city,cityFilter); searchGroceries()">{{ cityFilter }} <b-icon icon="x-circle"></b-icon></b-button>
                        </div>
                        <div v-for="productFilter in product" :key="productFilter" class="pb-2">
                            <b-button pill variant="outline-secondary" v-on:click="removeFilters(product,productFilter); searchGroceries()">{{ productFilter }} <b-icon icon="x-circle"></b-icon></b-button>
                        </div>
                        <div v-for="rateFilter in rate" :key="rateFilter" class="pb-2">
                            <b-button pill variant="outline-secondary" v-on:click="removeFilters(rate,rateFilter); searchGroceries()">{{ rateFilter }} <b-icon icon="star"></b-icon> <b-icon icon="x-circle"></b-icon></b-button>
                        </div>
                    </b-col>
                    
                    <h4 class="pt-2">Villes</h4>
                    <hr/>
                    <b-row v-for="(num,cityFilter) in cities" :key="cityFilter" class="pl-2">
                        <b-col cols="9">
                            <b-button class="filter" variant="link" v-on:click="addFilters(city,cityFilter); searchGroceries()">
                                {{ cityFilter }}
                            </b-button>
                        </b-col>
                        <b-col cols="3">
                            <b-button class="filter" variant="link" v-on:click="addFilters(city,cityFilter); searchGroceries()">
                                ({{ num }})
                            </b-button>
                        </b-col>
                    </b-row>

                    <h4 class="pt-2">Produits</h4>
                    <hr/>
                    <b-row v-for="(num,productFilter) in products" :key="productFilter" class="pl-2">
                        <b-col cols="9">
                            <b-button class="filter" variant="link" v-on:click="addFilters(product,productFilter);searchGroceries()">
                                {{ productFilter }}
                            </b-button>
                        </b-col>
                        <b-col cols="3">
                            <b-button class="filter" variant="link" v-on:click="addFilters(product,productFilter);searchGroceries()">
                                ({{ num }})
                            </b-button>
                        </b-col>
                    </b-row>

                    <h4 class="pt-2">Notes</h4>
                    <hr/>
                    <b-row v-for="(star,index) in stars" :key="index" class="pl-2">
                        <b-col cols="9">
                            <b-form-rating v-model="index" class="mb-3" no-border color="yellow" readonly></b-form-rating>
                        </b-col>
                        <b-col cols="3">
                            <b-button class="filter" variant="link" v-on:click="addFilters(rate,index);searchGroceries()">
                                ({{ star }})
                            </b-button>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col cols="10">
                    <b-card-group deck>
                        <b-col cols="12" lg="4" v-for="epicerie in groceries" :key="epicerie.id" class="p-3 img-cat">
                            <b-link :to="{ name: 'producteur', params:{id:epicerie.id} }">
                                <b-card :key="epicerie.id" :title="epicerie.name" :img-src="'/storage/enterprises/' + epicerie.id" img-alt="Image" img-top class="shadow h-100">
                                    <h6>({{ epicerie.city }}) <b-icon v-if="epicerie.like" icon="heart-fill" variant="danger" animation="throb" ></b-icon></h6>
                                    <b-form-rating v-model="epicerie.rate" inline no-border color="yellow" readonly></b-form-rating>
                                    <span class="text-muted">({{ epicerie.reviews }} notes)</span>
                                    <ul class="items">
                                        <li v-for="product_category in epicerie.product_categories" :key="product_category.id">
                                            <h6 class="font-weight-bold">
                                                <font-awesome-icon :icon="['fas', product_category.icon]" />
                                                {{ product_category.name }} :
                                            </h6>
                                            <div v-for="product in product_category.products" :key="product.id">
                                                {{ product.name}}
                                            </div>                                            
                                        </li>
                                    </ul>
                                </b-card>
                            </b-link>
                        </b-col>
                        <b-col class="pb-5" cols="12" v-if="groceries.length > 0">
                            <b-pagination
                                v-model="currentPage"
                                :total-rows="totalRows"
                                :per-page="perPage"
                                align="fill"
                                size="sm"
                                class="my-0"
                            ></b-pagination>
                        </b-col>
                    </b-card-group>
                </b-col>
            </b-row>
        </b-container>

        <app-footer />
    </main>
</template>

<style scoped src="./ProducteursToulousain.css">
    ul.items {
        list-style-type: '- ';
    }
</style>

<script>
export default {
    data() {
        return {
            name : null,
            city: [],
            product: [],
            rate: [],
            isBusy: true,
            currentPage: 1,
            totalRows: null,
            perPage: 9,
            groceries: [],
            cities : [],
            stars: [],
            products: [],
        }
    },
    watch: {
        currentPage(value) {
            this.searchGroceries();
        },
        perPage(value) {
            this.searchGroceries()
        } 
    },
    methods: {
        searchGroceries() {
            this.isBusy = true;
            axios
                .get("/api/enterprises/search", { params: { page: this.currentPage, per_page: this.perPage, type: 'grocery', city: this.city, product: this.product, rate: this.rate, name: this.name }})
                .then(response => {
                    this.groceries = response.data.data;
                    this.totalRows = response.data.total;
                    this.isBusy = false;
                    this.filters();
                })
                .catch(error => console.error(error))
        },
        filters(){
            axios
                .get("/api/enterprises/filters?type=grocery")
                .then(response => {
                    this.cities = response.data.cities;
                    this.stars = response.data.rates;
                    this.products = response.data.products;
                })
                .catch(error => console.error(error))
        },
        addFilters(filter,data){
            if (filter.indexOf(data)==-1){
                filter.push(data);
            }
        },
        removeFilters(filter,data){
            filter.splice(filter.indexOf(data),1);
        }
    },
    mounted(){
        this.searchGroceries()
    }
}
</script>
