<template>
  <div>
    <navbar></navbar>

    <b-container>
      <b-row align-h="center" class="homeRow">
        <b-col cols="12" md="auto" class="homeTitle"
          >Bienvenue sur le premier site de notation locavore de la Haute-Garonne !</b-col
        >
      </b-row>
      <b-row align-h="center" class="homeRow">
        <b-col cols="12" md="auto"
          >Cliquez sur une carotte ou un panier et accédez au profil du professionnel</b-col
        >
      </b-row>
      <b-row align-h="center">
        <b-col cols="12" md="auto">
          <osm-map class="mapCol"
            ref="map"
            :professionalUsers="professionalUsers"
            :update="send"
          ></osm-map>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      request: null,
      professionalUsers: null,
      pfUsersLoaded: false,
    };
  },
  mounted() {},
  methods: {
    send(bounds) {
      if (this.request) this.cancel();
      this.getEntreprisesByBounds(bounds);
    },

    cancel() {
      this.request.cancel();
      this.request = null;
    },
    getEntreprisesByBounds(bounds) {
      const axiosSource = axios.CancelToken.source();
      this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      axios
        .post("/api/enterprises/bounds", bounds, { cancelToken: axiosSource.token })
        .then((response) => {
          this.professionalUsers = response.data;
          this.request = null;
        })
        .catch((error) => {});
    },
    groupEntreprisesByCoordinates(bounds) {
      /*
      lat => 42,6440611466169 to 43,94339481559037
      lon => 0,406494140625 to 2,0544433593750004
      latitudeGap = 1,29933366897347
      longitudeGap = 1,6479492187500004 */

      const latMaxGap = bounds._northEast["lat"] - bounds._southWest["lat"];
      const lonMaxGap = bounds._northEast["lng"] - bounds._southWest["lng"];

      const entreprisesGrouped = {
        "0-0": {},
        "0-1": {},
        "1-0": {},
        "1-1": {},
      };
    },
    /* createZoneBoundsByZone(zoneYX, lastZone, maxBounds) {
      const maxYX = lastZone.split("-");
      const maxY = maxYX[0];
      const maxX = maxYX[1];
      const zoneXY = zoneYX.split("-");
      const zoneY = zoneXY[0];
      const zoneX = zoneXY[1];
      const latGapMax = bounds._northEast["lat"] - bounds._southWest["lat"];
      const lngGapMax = bounds._northEast["lng"] - bounds._southWest["lng"];
      const zoneLatGap = latGapMax / (maxX + 1);
      const zoneLngGap = lngGapMax / (maxY + 1); 

      const zoneBounds = {
        _northEast: {
          lat: bounds._southWest["lat"] + (zoneLatGap * (zoneX + 1)),
          lng: bounds._southWest["lng"] 
        },
        _southWest: {
          lat:
          lng:
        }
      };
    } */
  },
};
</script>
<style>
.homeRow {
  margin: 20px;
}
.homeTitle {
  font-size: 1.5em;
  font-weight: bold;
}
.mapCol {
  border-radius: 10px;
}
</style>
