.paragraphe{
    color: #657480;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: x-large;
}
.img-title img{
    max-width: 100%;
    max-height: auto;
}

h1{
    font-weight: bold;
}
#presentation{
    padding: 25px;
    padding-left: 150px;
    padding-right: 150px;
}
.h_line{ 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height:2px;
    background-color: #657480;
    opacity: 25%;
}
.bloc-droite{
    padding-right: 100px;
}
.bloc-gauche{
    padding-left: 100px;
}
.ligne-bloc{
    padding-top: 30px;
    padding-bottom: 30px;
}

.bloc-droite p{
    vertical-align: middle;
}
.p-acteur{
    font-size: medium;
    text-align: center;
}
.t-acteur{
    text-align: center;
}
.i-acteur{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
