<template>
    <main>
        <navbar />

        <b-container fluid>
            <b-row>
                <b-col cols="12">
                    <h1>Not found</h1>
                </b-col>
            </b-row>
        </b-container>

        <app-footer />
    </main>
</template>