<template>
    <main>
        <navbar />

        <b-img :src="'/storage/enterprises/' + grower.id" id="picture" class="h-75" fluid-grow></b-img>

        <b-container fluid>
            <b-row>
                <b-col cols="12" class="my-3">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3">
                        <h1>
                            {{ grower.name }}
                            <b-button variant="link" @click="like()" :disabled="!$root.isExpert()">
                                <b-icon :icon="grower.like ? 'heart-fill' : 'heart'" variant="danger" />
                            </b-button>
                        </h1>
                        <div class="mb-2 mb-md-0">
                            <b-button :to="{ name: 'edit_producteur', params: { id: grower.id } }" v-if="canEdit()">Editer</b-button>
                        </div>
                    </div>
                    <b-form-rating v-model="grower.rate" color="yellow" size="sm" no-border inline readonly></b-form-rating>
                    -
                    <span class="text-muted">({{ grower.reviews }} reviews)</span>
                    -
                    <span class="font-weight-bold">{{ grower.city }}</span>
                </b-col>
            </b-row>
        </b-container>

        <b-container id="content">
            <b-row>
                <b-col cols="12">
                    <hr />

                    <p>{{ grower.description }}</p>
                </b-col>
                <b-col cols="12">
                    <hr />

                    <h3>Produits</h3>

                    <b-row>
                        <b-col cols="6" md="3" v-for="(product_category, index) in grower.product_categories" :key="index">
                            <h6 class="font-weight-bold">
                                <font-awesome-icon :icon="['fas', product_category.icon]" />
                                {{ product_category.name }}
                            </h6>
                            
                            <ul>
                                <li v-for="(product, index) in product_category.products" :key="index">{{ product.name }}</li>
                            </ul>
                        </b-col>
                    </b-row>
                </b-col>

                <b-col cols="12">
                    <hr />

                    <h3>
                        <b-form-rating v-model="grower.rate" color="yellow" size="sm" no-border inline readonly></b-form-rating>
                        {{ grower.rate | round }} ({{ grower.reviews }} Notes)
                    </h3>

                    <b-row class="mb-2">
                        <b-col cols="12" md="6" v-for="(rate, index) in grower.rates" :key="index">
                            <b-row>
                                <b-col cols="6">
                                    <span>{{ rate.name }}</span>
                                </b-col>
                                <b-col cols="6" class="pt-1">
                                    <b-progress :value="rate.score" max="5" show-value></b-progress>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-col>

                <b-col cols="12" v-if="$root.authUser && !has_comment">
                    <h1>Nouveau commentaire</h1>
                    <h2>Notes</h2>

                    <b-form @submit="onCommentSubmit">
                        <b-row class="mb-3">
                            <b-col cols="12" md="6" v-for="(review, index) in user_reviews" :key="index">
                                <b-row>
                                    <b-col cols="7">
                                        <span>{{ review.name }}</span>
                                    </b-col>
                                    <b-col cols="5">
                                        <b-form-rating v-model="review.score" color="yellow" size="sm" class="float-right" no-border inline></b-form-rating>
                                    </b-col>
                                </b-row>
                            </b-col>
                        </b-row>

                        <b-form-group
                            :state="commentState"
                            label="Commentaire"
                            label-for="comment-input"
                            invalid-feedback="Comment is required">
                            <b-form-textarea
                                id="comment-input"
                                v-model="comment"
                                :state="commentState"
                                required
                                rows="3"
                                max-rows="6">
                            </b-form-textarea>
                        </b-form-group>

                        <b-button type="submit" variant="primary">Envoyer</b-button>
                    </b-form>
                </b-col>

                <b-col cols="12">
                    <hr />

                    <h3>Commentaires des experts</h3>

                    <b-row>
                        <b-col class="mb-3" cols="12" v-if="!expert_comments || expert_comments.length == 0">
                            <p class="text-center">Aucun commentaires</p>
                        </b-col>

                        <b-col class="mb-3" cols="12" md="6" v-for="(comment, index) in expert_comments" :key="index">
                            <b-card border-variant="light">
                                <b-row class="mb-2">
                                    <b-col cols="3" class="pb-lg-2">
                                        <b-img rounded="circle" fluid :src="'/storage/avatars/' + comment.user.id"></b-img>
                                    </b-col>
                                    <b-col cols="9" class="pt-lg-4">
                                        <h5>
                                            {{ comment.user.firstname }} {{ comment.user.lastname }}
                                            <b-badge v-if="comment.user.type == 'user'">Utilisateur</b-badge>
                                            <b-badge v-if="comment.user.type == 'professional'">Professionnel</b-badge>
                                            <b-badge v-if="comment.user.type == 'expert'">Expert</b-badge>
                                        </h5>
                                        <span class="text-muted">{{ comment.created_at | formatDate }}</span>
                                    </b-col>
                                </b-row>

                                <b-card-text v-if="!comment.edit">
                                    {{ comment.message }}
                                    <b-link v-if="$root.isSelf(comment.user) || $root.isAdministrator()" @click="editComment(comment, index)">Modifier</b-link>
                                </b-card-text>
                                <b-form @submit="onUpdateCommentSubmit" v-else>
                                    <b-form-textarea
                                        class="mb-3"
                                        v-model="comment.message"
                                        rows="6"
                                        no-resize>
                                    </b-form-textarea>

                                    <b-button type="submit" variant="primary">Modifier</b-button>
                                </b-form>
                            </b-card>
                        </b-col>
                    </b-row>

                    <b-row v-if="expert_comments && expert_comments.length > 0">
                        <b-col cols="4">
                            <b-pagination
                                v-model="expertCurrentPage"
                                :total-rows="expertTotalRows"
                                :per-page="expertPerPage"
                                align="fill"
                                size="sm"
                                class="my-0">
                            </b-pagination>
                        </b-col>
                        <b-col cols="4" offset="4">
                            <b-form-group
                                label="Resultats par page"
                                label-cols-sm="6"
                                label-cols-md="4"
                                label-cols-lg="3"
                                label-align-sm="right"
                                label-size="sm"
                                label-for="perPageSelect"
                                class="mb-0">
                                <b-form-select
                                    v-model="expertPerPage"
                                    id="perPageSelect"
                                    size="sm"
                                    :options="expertPageOptions">
                                </b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <h3>Commentaires des utilisateurs</h3>

                    <b-row>
                        <b-col class="mb-3" cols="12" v-if="!user_comments || user_comments.length == 0">
                            <p class="text-center">Aucun commentaires</p>
                        </b-col>

                        <b-col class="mb-3" cols="12" md="6" v-for="(comment, index) in user_comments" :key="index">
                            <b-card border-variant="light">
                                <b-row class="mb-2">
                                    <b-col cols="3" class="pb-lg-2">
                                        <b-img rounded="circle" fluid :src="'/storage/avatars/' + comment.user.id"></b-img>
                                    </b-col>
                                    <b-col cols="9" class="pt-lg-4">
                                        <h5>
                                            {{ comment.user.firstname }} {{ comment.user.lastname }}
                                            <b-badge v-if="comment.user.type == 'user'">Utilisateur</b-badge>
                                            <b-badge v-if="comment.user.type == 'professional'">Professionnel</b-badge>
                                            <b-badge v-if="comment.user.type == 'expert'">Expert</b-badge>
                                        </h5>
                                        <span class="text-muted">{{ comment.created_at | formatDate }}</span>
                                    </b-col>
                                </b-row>

                                <b-card-text v-if="!comment.edit">
                                    {{ comment.message }}
                                    <b-link v-if="$root.isSelf(comment.user) || $root.isAdministrator()" @click="editComment(comment, index)">Modifier</b-link>
                                </b-card-text>
                                <b-form @submit="onUpdateCommentSubmit" v-else>
                                    <b-form-textarea
                                        class="mb-3"
                                        v-model="comment.message"
                                        rows="6"
                                        no-resize>
                                    </b-form-textarea>

                                    <b-button type="submit" variant="primary">Modifier</b-button>
                                </b-form>
                            </b-card>
                        </b-col>

                    </b-row>

                    <b-row v-if="user_comments && user_comments.length > 0">
                        <b-col cols="4">
                            <b-pagination
                                v-model="userCurrentPage"
                                :total-rows="userTotalRows"
                                :per-page="userPerPage"
                                align="fill"
                                size="sm"
                                class="my-0">
                            </b-pagination>
                        </b-col>
                        <b-col cols="4" offset="4">
                            <b-form-group
                                label="Resultats par page"
                                label-cols-sm="6"
                                label-cols-md="4"
                                label-cols-lg="3"
                                label-align-sm="right"
                                label-size="sm"
                                label-for="perPageSelect"
                                class="mb-0">
                                <b-form-select
                                    v-model="userPerPage"
                                    id="perPageSelect"
                                    size="sm"
                                    :options="userPageOptions">
                                </b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>

        <app-footer />
    </main>
</template>

<style scoped>
    ul li {
        list-style-type: '- ';
    }

    #picture {
        object-fit: cover;
    }
</style>

<script>
export default {
    data() {
        return {
            grower: {
                id: 0,
                picture: null,
                name: null,
                city: null,
                like: null,
                rate: null,
                reviews: null,
                rates: [],
                products: []
            },
            edit_comment_index: null,
            edit_comment_type: null,
            comment: null,
            commentState: null,
            has_comment: false,
            expert_comments: [],
            user_comments: [],
            user_reviews: [],
            expertCurrentPage: 1,
            expertTotalRows: null,
            expertPerPage: 4,
            expertPageOptions: [4, 8, 10],
            userCurrentPage: 1,
            userTotalRows: null,
            userPerPage: 4,
            userPageOptions: [4, 8, 10],
        }
    },
    watch: {
        expertCurrentPage(value) {
            this.searchExpertComments()
        },
        expertPerPage(value) {
            this.searchExpertComments()
        },
        userCurrentPage(value) {
            this.searchUserComments()
        },
        userPerPage(value) {
            this.searchUserComments()
        }
    },
    methods: {
        editComment(comment, index) {
            comment.edit = true
            this.edit_comment_index = index
            this.edit_comment_type = comment.user.type
        },
        onUpdateCommentSubmit(event) {
            event.preventDefault()

            const comment = (this.edit_comment_type == "user") ?
                this.user_comments[this.edit_comment_index] : this.expert_comments[this.edit_comment_index]

            axios
                .put("/api/enterprises/" + this.grower.id + "/comments/" + comment.id, {
                    message: comment.message
                })
                .then(response => {
                    comment.edit = false
                    this.edit_comment_index = null
                    this.edit_comment_type = null
                })
                .catch(error => console.log(error))
        },
        onCommentSubmit(event) {
            event.preventDefault()

            axios
                .post("/api/enterprises/" + this.grower.id + "/comments", {
                    message: this.comment,
                    reviews: this.user_reviews
                })
                .then(response => {
                    if (this.$root.isExpert())
                        this.expert_comments.push(response.data)
                    else
                        this.user_comments.push(response.data)

                    this.grower.reviews++
                    this.has_comment = true

                    this.loadEnterprise()
                })
                .catch(error => console.log(error))
        },
        like() {
            this.grower.like = !this.grower.like

            axios
                .put("/api/enterprises/" + this.$route.params.id, {
                    like: this.grower.like
                })
                .catch(error => console.log(error))
        },
        canEdit() {
            return (this.grower && this.grower.owner && this.$root.authUser &&
                this.grower.owner_id == this.$root.authUser.id) || this.$root.isAdministrator()
        },
        loadEnterprise() {
            axios
                .get("/api/enterprises/" + this.$route.params.id)
                .then(response => {
                    this.grower = response.data
                })
                .catch(error => console.log(error))
        },
        searchExpertComments() {
            axios
                .get("/api/enterprises/" + this.$route.params.id + "/comments/search", {
                    params: {
                        page: this.expertCurrentPage,
                        user_type: "expert",
                        per_page: this.expertPerPage
                    }
                })
                .then(response => {
                    this.expert_comments = response.data.data.map(comment => {
                        comment.edit = false
                        return comment
                    })
                    this.expertTotalRows = response.data.total
                })
                .catch(error => console.log(error))
        },
        searchUserComments() {
            axios
                .get("/api/enterprises/" + this.$route.params.id + "/comments/search", {
                    params: {
                        page: this.userCurrentPage,
                        user_type: "user",
                        per_page: this.userPerPage
                    }
                })
                .then(response => {
                    this.user_comments = response.data.data.map(comment => {
                        comment.edit = false
                        return comment
                    })
                    this.userTotalRows = response.data.total
                })
                .catch(error => console.log(error))
        }
    },
    mounted() {
        this.loadEnterprise()
        this.searchExpertComments()
        this.searchUserComments()

        axios
            .get("/api/enterprise/reviewtypes")
            .then(response => {
                this.user_reviews = response.data.map(rt => {
                    return {
                        id: rt.id,
                        name: rt.name,
                        score: 0
                    }
                })
            })
            .catch(error => console.log(error))

        if(this.$root.isAuthenticated())
            axios
                .get("/api/enterprises/" + this.$route.params.id + "/comments/hascomment")
                .then(response => this.has_comment = response.data)
    }
}
</script>

<style scoped>
    #content {
        margin-bottom: 150px;
    }
</style>