<template>
  <b-modal
    v-model="show"
    hide-footer
    id="deleteProfileMod"
    :no-close-on-backdrop="noClose"
    :hide-header="noClose"
    @show="resetModal"
    @hidden="resetModal"
    title="Supprimer mon profil"
  >
    <b-container v-if="askToDelete">
      <b-row align-h="center" class="deleteRow">
        <b-col cols="12" md="auto">
          <span>Veuillez confirmer la suppression de votre profil :</span>
        </b-col>
      </b-row>
      <b-row align-h="center">
        <b-col cols="12" md="auto">
          <b-button type="reset" variant="danger" v-on:click="deleteProfile"
            >Supprimer</b-button
          >
        </b-col>
      </b-row>
    </b-container>

    <b-container fluid v-if="deleteInProgress">
      <b-row class="justify-content-md-center">
        <b-col cols="12" md="auto" style="padding-bottom: 10px"
          >Suppression du profil...</b-col
        >
      </b-row>
      <b-row class="justify-content-md-center">
        <b-spinner variant="success" label="Spinning"></b-spinner>
      </b-row>
    </b-container>
  </b-modal>
</template>

<script>
export default {
  props: {
    user: Object,
  },
  data() {
    return {
      show: false,
      noClose: false,
      askToDelete: true,
      deleteInProgress: false,
    };
  },
  methods: {
    resetModal() {
      // Reset our form values
      this.noClose = false;
      this.deleteInProgress = false;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.askToDelete = false;
      this.$nextTick(() => {
        this.askToDelete = true;
      });
    },
    deleteProfile() {
      this.askToDelete = false;
      this.noClose = true;
      this.deleteInProgress = true;
      axios
        .delete("/api/users/" + this.user.id)
        .then((response) => {
          this.$root.authUser = null;
          this.show = false;
          this.$router.push({ name: "home" });
        })
        .catch((error) => {
          const errorResponse = error.response.data.errors;
          this.askToDelete = true;
          this.noClose = false;
          this.deleteInProgress = false;
        });
    },
  },
};
</script>
<style>
.deleteRow {
  margin: 1em;
}
</style>
