<template>
  <l-map
    ref="map"
    style="height: 650px; width: 600px"
    :zoom="zoom"
    :center="center"
    :minZoom="minZoom"
    :max-bounds="maxBounds"
    @update:bounds="update"
  >
    <l-tile-layer :url="url"></l-tile-layer>
    <l-geo-json
      :geojson="geojsonHauteGaronne"
      :options-style="styleFunction1"
    ></l-geo-json>
    <l-marker
      :lat-lng="user.coordinates"
      :icon="user.type === 'grocery' ? iconGrocery : iconProductor"
      v-for="user in professionalUsers"
      :key="user.id"
    >
      <l-popup>
        <b-row>
          <b-col>
            <b-link :to="{ name: 'producteur', params: { id: user.id } }">
              <span>{{ user.name }}</span>
            </b-link>
          </b-col>
        </b-row>
      </l-popup>
    </l-marker>
  </l-map>
</template>

<script>
import "leaflet/dist/leaflet.css";
import { latLngBounds, latLng } from "leaflet";
import {
  LMap,
  LTileLayer,
  LGeoJson,
  LMarker,
  LCircle,
  LIcon,
  LPopup,
} from "vue2-leaflet";

export default {
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    LMarker,
    LCircle,
    LIcon,
    LPopup,
  },
  props: ["professionalUsers", "update"],
  mounted() {},
  methods: {},
  data() {
    return {
      iconProductor: L.icon({
        iconUrl: "/pictures/carrot-marker.png",
        iconSize: [40, 37],
        iconAnchor: [16, 37],
      }),
      iconGrocery: L.icon({
        iconUrl: "/pictures/wicker-basket.png",
        iconSize: [30, 32],
        iconAnchor: [16, 37],
      }),
      markerLatLng: [43.604652, 1.444209],
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      zoom: 9,
      center: [43.29605, 1.23904],
      minZoom: 9,
      geojsonHauteGaronne: null,
      fillColor: "#000000",
      maxBounds: latLngBounds([
        [42.646273, 0.404494], // SOUTHWEST
        [43.950364, 2.05577], // NORTHEAST
      ]),
    };
  },
  computed: {
    options() {},
    styleFunction1() {
      const fillColor = this.fillColor; // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 3,
          color: "#FFFFFF",
          opacity: 1,
          fillColor: fillColor,
          fillOpacity: 0.5,
        };
      };
    },
  },
  async created() {
    const responseHauteGaronne = await fetch(
      "https://nominatim.openstreetmap.org/search.php?q=haute%20garonne&polygon_geojson=1&format=geojson"
    );
    this.geojsonHauteGaronne = await responseHauteGaronne.json();
    this.geojsonHauteGaronne.features[0].geometry.coordinates.unshift([
      [180, -90],
      [180, 90],
      [-180, 90],
      [-180, -90],
    ]);
    this.update(this.maxBounds);
  },
};
</script>
