<template>
  <b-modal
    v-model="show"
    hide-footer
    id="updatePwdMod"
    :no-close-on-backdrop="noClose"
    :hide-header="noClose"
    @show="resetModal"
    @hidden="resetModal"
    title="Mise à jour du mot de passe"
  >
    <b-form @submit="onSubmit" @reset="onReset" v-if="editPwd">
      <b-form-group id="input-group-pwd" label="Mot de passe :" label-for="input-pwd">
        <b-form-input
          v-model="form.password"
          type="password"
          id="input-pwd"
          required
          aria-describedby="password-help-block"
          :state="pwdOk"
        ></b-form-input>
        <b-form-text id="password-help-block">
          Votre mot de passe doit comporter entre 8 et 20 caractères, contenir au moins un
          chiffre, une majuscule et une minuscule.
        </b-form-text>
      </b-form-group>

      <b-form-group
        id="input-group-pwd2"
        label="Merci de confirmer votre mot de passe :"
        label-for="input-pwd2"
      >
        <b-form-input
          v-model="form.password_confirmation"
          type="password"
          id="input-pwd2"
          required
          :state="pwdOk2"
        ></b-form-input>
      </b-form-group>

      <b-row align-h="end">
        <b-col cols="12" md="auto">
          <b-button type="submit" variant="primary">Valider</b-button>
        </b-col>
      </b-row>
    </b-form>

    <b-container fluid v-if="editionInProgress">
      <b-row class="justify-content-md-center">
        <b-col cols="12" md="auto" style="padding-bottom: 10px"
          >Mise à jour du mot de passe...</b-col
        >
      </b-row>
      <b-row class="justify-content-md-center">
        <b-spinner variant="success" label="Spinning"></b-spinner>
      </b-row>
    </b-container>
  </b-modal>
</template>

<script>
export default {
  props: {
    user: Object,
  },
  data() {
    const { DateTime } = require("luxon");
    return {
      form: {
        password: "",
        password_confirmation: "",
      },
      showAddressList: false,
      addressList: null,
      birthDateMin: DateTime.local().minus({ years: 120 }).toISODate(),
      birthDateMax: DateTime.local().toISODate(),
      show: false,
      noClose: false,
      editPwd: true,
      editionInProgress: false,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.updatePwd();
    },
    onReset(evt) {
      evt.preventDefault();
      this.resetModal();
    },
    resetModal() {
      // Reset our form values
      this.form.password = "";
      this.form.password_confirmation = "";
      this.noClose = false;
      this.showAddressList = false;
      this.editionInProgress = false;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.editPwd = false;
      this.$nextTick(() => {
        this.editPwd = true;
      });
    },
    updatePwd() {
      this.editPwd = false;
      this.noClose = true;
      this.editionInProgress = true;
      axios
        .put("/api/users/" + this.user.id, this.form)
        .then((response) => {
          this.show = false;
        })
        .catch((error) => {
          this.editPwd = true;
          this.noClose = false;
          this.editionInProgress = false;
        });
    },
  },
  computed: {
    pwdOk() {
      if (this.form.password === "") {
        return null;
      }
      var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
      if (this.form.password.match(passw)) {
        return true;
      } else {
        return false;
      }
    },
    pwdOk2() {
      if (this.form.password_confirmation === "") {
        return null;
      }
      var samePwd = this.form.password === this.form.password_confirmation;
      var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
      if (this.form.password_confirmation.match(passw) && samePwd) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>
<style>
.address:hover {
  background-color: #007bff;
  color: #ffffff;
}
</style>
