<template>
  <main>
    <navbar />

    <b-modal
      id="new-enterprise"
      ref="modal"
      title="Nouvel entreprise"
      size="xl"
      @show="resetNewEnterpriseModal"
      @ok="handleNewEnterpriseOk"
    >
      <form ref="form" @submit.stop.prevent="handleNewEnterpriseSubmit">
        <b-form-group
          :state="nameState"
          label="Nom"
          label-for="name-input"
          invalid-feedback="Name is required"
        >
          <b-form-input
            id="name-input"
            v-model="enterprise.name"
            :state="nameState"
            required
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          :state="descriptionState"
          label="Description"
          label-for="desription-input"
          invalid-feedback="Description is required"
        >
          <b-form-input
            id="description-input"
            v-model="enterprise.description"
            :state="descriptionState"
            required
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          :state="cityState"
          label="Ville"
          label-for="city-input"
          invalid-feedback="City is required"
        >
          <b-form-input
            id="city-input"
            v-model="enterprise.city"
            :state="cityState"
            required
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          :state="typeState"
          label="Type"
          label-for="type-input"
          invalid-feedback="Type is required"
        >
          <b-form-select
            id="type-input"
            v-model="enterprise.type"
            :options="types"
            required
          >
          </b-form-select>
        </b-form-group>

        <b-form-group id="input-group-street" label="Adresse :" label-for="input-adress">
          <b-form-input
            id="input-adress"
            v-model="enterprise.address"
            :state="null"
            @keyup="findAddress"
            autocomplete="off"
          ></b-form-input>
          <b-card no-body v-if="addressList && showAddressList">
            <b-list-group flush>
              <b-list-group-item
                class="address"
                button
                v-on:click="selectAddress(address)"
                v-for="address in addressList"
                :key="address.properties.id"
                >{{ address.properties.label }}</b-list-group-item
              >
            </b-list-group>
          </b-card>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal
      id="edit-enterprise"
      ref="modal"
      title="Edition de l'enterprise"
      size="xl"
      @show="resetEditEnterpriseModal"
      @ok="handleEditEnterpriseOk"
    >
      <form ref="form" @submit.stop.prevent="handleEditEnterpriseSubmit">
        <b-form-group
          :state="nameState"
          label="Nom"
          label-for="name-input"
          invalid-feedback="Name is required"
        >
          <b-form-input
            id="name-input"
            v-model="enterprise.name"
            :state="nameState"
            required
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          :state="descriptionState"
          label="Description"
          label-for="desription-input"
          invalid-feedback="Description is required"
        >
          <b-form-input
            id="description-input"
            v-model="enterprise.description"
            :state="descriptionState"
            required
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          :state="cityState"
          label="Ville"
          label-for="city-input"
          invalid-feedback="City is required"
        >
          <b-form-input
            id="city-input"
            v-model="enterprise.city"
            :state="cityState"
            required
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          :state="typeState"
          label="Type"
          label-for="type-input"
          invalid-feedback="Type is required"
        >
          <b-form-select
            id="type-input"
            v-model="enterprise.type"
            :options="types"
            required
          >
          </b-form-select>
        </b-form-group>

        <b-form-group
          :state="ownerState"
          label="Owner"
          label-for="owner-input"
          invalid-feedback="Owner is required">
          <b-form-select
            id="owner-input"
            v-model="enterprise.owner"
            :state="ownerState"
            :options="professionals"
            required>
          </b-form-select>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal
      id="delete-enterprise"
      ref="modal"
      title="Supprimer l'entreprise"
      okVariant="danger"
      @ok="handleDeleteEnterpriseOk"
    >
      <p class="text-danger">Voulez-vous vraiment supprimer cet entreprise ?</p>
    </b-modal>

    <b-container fluid class="pb-5">
      <b-row>
        <b-col cols="12">
          <div class="d-flex justify-content-between">
            <h1>Enterprises</h1>
            <div class="mt-2">
              <b-button variant="success" @click="newEnterprise">Nouveau</b-button>
            </div>
          </div>

          <b-table :fields="fields" :items="enterprises" :busy="isBusy">
            <template v-slot:cell(name)="row">
              <router-link :to="{ name: 'producteur', params: { id: row.item.id } }">{{
                row.value
              }}</router-link>
            </template>
            <template v-slot:cell(type)="row">
              <b-badge v-if="row.item.type == 'grower'">Producteur</b-badge>
              <b-badge v-if="row.item.type == 'grocery'">Epicerie</b-badge>
            </template>
            <template v-slot:cell(owner)="row">
              {{ row.value.firstname }} {{ row.value.lastname }}
            </template>
            <template v-slot:cell(created_at)="row">
              {{ row.value | formatDate }}
            </template>
            <template v-slot:cell(updated_at)="row">
              {{ row.value | formatDate }}
            </template>
            <template v-slot:cell(actions)="row">
              <b-button-group size="sm">
                <b-button @click="editEnterprise(row.item.id)">
                  <b-icon icon="pencil"></b-icon>
                </b-button>

                <b-button variant="danger" @click="deleteEnterprise(row.item.id)">
                  <b-icon icon="trash"></b-icon>
                </b-button>
              </b-button-group>
            </template>
            <template v-slot:table-busy>
              <div class="text-center text-danger my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>Chargement...</strong>
              </div>
            </template>
          </b-table>

          <b-row>
            <b-col cols="4">
              <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
              ></b-pagination>
            </b-col>
            <b-col cols="4" offset="4">
              <b-form-group
                label="Resultats par page"
                label-cols-sm="6"
                label-cols-md="4"
                label-cols-lg="3"
                label-align-sm="right"
                label-size="sm"
                label-for="perPageSelect"
                class="mb-0"
              >
                <b-form-select
                  v-model="perPage"
                  id="perPageSelect"
                  size="sm"
                  :options="pageOptions"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>

    <app-footer />
  </main>
</template>

<script>
export default {
  data() {
    return {
      isBusy: true,
      currentPage: 1,
      totalRows: null,
      perPage: 15,
      pageOptions: [15, 50, 100],
      fields: [
        {
          key: "name",
          label: "Nom",
        },
        {
          key: "type",
          label: "Type",
        },
        {
          key: "owner",
          label: "Propriétaire",
        },
        {
          key: "updated_at",
          label: "Mise à jour le",
        },
        {
          key: "actions",
          label: "Actions",
        },
      ],
      enterprises: [],
      enterprise: {
        name: null,
        description: null,
        city: null,
        type: null,
        address: null,
        coordinates: null,
        owner: null
      },
      nameState: null,
      descriptionState: null,
      cityState: null,
      typeState: null,
      types: [
        {
          text: "Selectionner un type",
          value: null,
        },
        {
          text: "Producteur",
          value: "grower",
        },
        {
          text: "Epicerie",
          value: "grocery",
        },
      ],
      showAddressList: false,
      addressList: null,
      ownerState: null,
      professionals: [
        { value: null, text: 'Please select an option' },
      ]
    };
  },
  watch: {
    currentPage(value) {
      this.searchEnterprises();
    },
    perPage(value) {
      this.searchEnterprises();
    },
  },
  methods: {
    newEnterprise() {
      this.$bvModal.show("new-enterprise");
    },
    resetNewEnterpriseModal() {
      this.nameState = null;
      this.descriptionState = null;
      this.cityState = null;
      this.typeState = null;
    },
    handleNewEnterpriseOk(bvModalEvt) {
      bvModalEvt.preventDefault();

      this.handleNewEnterpriseSubmit();
    },
    handleNewEnterpriseSubmit() {
      if (!this.checkFormValidity()) return;

      axios
        .post("/api/enterprises", {
          like: false,
          name: this.enterprise.name,
          description: this.enterprise.description,
          city: this.enterprise.city,
          type: this.enterprise.type,
          address: this.enterprise.address,
          latitude: this.enterprise.coordinates[0],
          longitude: this.enterprise.coordinates[1],
        })
        .then((response) => {
          this.$bvModal.hide("new-enterprise");
        })
        .catch((error) => console.log(error));
    },
    editEnterprise(id) {
      this.enterprise = this.enterprises.find((a) => a.id == id);
      this.$bvModal.show("edit-enterprise");
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.nameState = valid;
      this.descriptionState = valid;
      this.cityState = valid;
      this.typeState = valid;

      return valid;
    },
    resetEditEnterpriseModal() {
      this.nameState = null;
      this.descriptionState = null;
      this.cityState = null;
      this.typeState = null;
    },
    handleEditEnterpriseOk(bvModalEvt) {
      bvModalEvt.preventDefault();

      this.handleEditEnterpriseSubmit();
    },
    handleEditEnterpriseSubmit() {
      if (!this.checkFormValidity()) return;

      axios
        .put("/api/enterprises/" + this.enterprise.id, {
          id: this.enterprise.id,
          name: this.enterprise.name,
          description: this.enterprise.description,
          type: this.enterprise.type,
          owner_id: this.enterprise.owner.id
        })
        .then((response) => {
          this.$bvModal.hide("edit-enterprise");
        })
        .catch((error) => console.log(error));
    },
    deleteEnterprise(id) {
      this.enterprise = this.enterprises.find((a) => a.id == id);
      this.$bvModal.show("delete-enterprise");
    },
    handleDeleteEnterpriseOk(bvModalEvt) {
      bvModalEvt.preventDefault();

      axios
        .delete("/api/enterprises/" + this.enterprise.id)
        .then((response) => {
          this.enterprises = this.enterprises.filter((a) => a.id != this.enterprise.id);

          this.$bvModal.hide("delete-enterprise");
        })
        .catch((error) => console.log(error));
    },
    searchEnterprises() {
      this.isBusy = true;

      axios
        .get("/api/enterprises/search", {
          params: { page: this.currentPage, per_page: this.perPage },
        })
        .then((response) => {
          this.enterprises = response.data.data;
          this.totalRows = response.data.total;
          this.isBusy = false;
        })
        .catch((error) => console.error(error));
    },
    selectAddress(address) {
      this.enterprise.address = address.properties.label;
      const coordinates = [
        address.geometry.coordinates[1],
        address.geometry.coordinates[0],
      ];
      /* this.form.coordinates = JSON.stringify(coordinates); */
      this.enterprise.coordinates = coordinates;
      this.showAddressList = false;
    },
    async findAddress() {
      this.showAddressList = true;
      if (this.enterprise.address) {
        const uri =
          "https://api-adresse.data.gouv.fr/search/?q=" +
          this.enterprise.address +
          "&type=housenumber&autocomplete=0";
        const encoded = encodeURI(uri);
        const response = await fetch(encoded);
        const jsonResponse = await response.json();
        this.addressList = jsonResponse.features;
      } else {
        this.addressList = null;
      }
    },
    searchProfessionnals() {
      this.isBusy = true;

      axios
        .get("/api/users/search", {
          params: { per_page: 100, type: "professional" },
        })
        .then((response) => {
          this.professionals = response.data.data.map(user => {
            return {
              value: user,
              text: user.firstname + " " + user.lastname
            }
          })

          this.professionals.push({
            value: null,
            text: "Selectionner un producteur"
          })
        })
        .catch((error) => console.error(error));
    }
  },
  mounted() {
    this.searchEnterprises();
    this.searchProfessionnals();
  },
};
</script>
<style>
.address:hover {
  background-color: #007bff;
  color: #ffffff;
}
</style>
