<template>
    <main>
        <navbar />

        <b-modal
            id="new-product"
            ref="modal"
            title="Nouveau produit"
            size="lg"
            @show="resetNewProductModal"
            @ok="handleNewProductOk">
            <form ref="form" @submit.stop.prevent="handleNewProductSubmit">
                <b-form-group
                    :state="nameState"
                    label="Nom"
                    label-for="name-input"
                    invalid-feedback="Name is required">
                    <b-form-input
                        id="name-input"
                        v-model="product.name"
                        :state="nameState"
                        required>
                    </b-form-input>
                </b-form-group>

                <b-form-group
                    :state="productCategoryState"
                    label="Catégorie de produit"
                    label-for="product-category-input"
                    invalid-feedback="Product category is required">
                    <b-form-select
                        v-model="product.product_category_id"
                        :options="product_categories">
                    </b-form-select>
                </b-form-group>
            </form>
        </b-modal>

        <b-modal
            id="edit-product"
            ref="modal"
            title="Edition du produit"
            size="lg"
            @show="resetEditProductModal"
            @ok="handleEditProductOk">
            <form ref="form" @submit.stop.prevent="handleEditProductSubmit">
                <b-form-group
                    :state="nameState"
                    label="Nom"
                    label-for="name-input"
                    invalid-feedback="Name is required">
                    <b-form-input
                        id="name-input"
                        v-model="product.name"
                        :state="nameState"
                        required>    
                    </b-form-input>
                </b-form-group>

                <b-form-group
                    :state="productCategoryState"
                    label="Catégorie de produit"
                    label-for="product-category-input"
                    invalid-feedback="Product category is required">
                    <b-form-select
                        v-model="product.product_category_id"
                        :options="product_categories">
                    </b-form-select>
                </b-form-group>
            </form>
        </b-modal>

        <b-modal
            id="delete-product"
            ref="modal"
            title="Supprimer le product"
            okVariant="danger"
            @ok="handleDeleteProductOk">
            <p class="text-danger">Voulez-vous vraiment supprimer ce produit ?</p>
        </b-modal>

        <b-container fluid class="pb-5">
            <b-row>
                <b-col cols="12">
                    <div class="d-flex justify-content-between">
                        <h1>Produits</h1>

                        <div class="mt-2">
                            <b-button variant="success" @click="newProduct">Nouveau</b-button>
                        </div>
                    </div>

                    <b-table :fields="fields" :items="products" :busy="isBusy">
                        <template v-slot:cell(actions)="row">
                            <b-button-group size="sm">
                                <b-button @click="editProduct(row.item.id)">
                                    <b-icon icon="pencil"></b-icon>
                                </b-button>

                                <b-button variant="danger" @click="deleteProduct(row.item.id)">
                                    <b-icon icon="trash"></b-icon>
                                </b-button>
                            </b-button-group>
                        </template>
                        <template v-slot:table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Chargement...</strong>
                            </div>
                        </template>
                    </b-table>

                    <b-row>
                        <b-col cols="4">
                            <b-pagination
                                v-model="currentPage"
                                :total-rows="totalRows"
                                :per-page="perPage"
                                align="fill"
                                size="sm"
                                class="my-0"
                                ></b-pagination>
                        </b-col>
                        <b-col cols="4" offset="4">
                            <b-form-group
                                label="Resultats par page"
                                label-cols-sm="6"
                                label-cols-md="4"
                                label-cols-lg="3"
                                label-align-sm="right"
                                label-size="sm"
                                label-for="perPageSelect"
                                class="mb-0"
                                >
                                <b-form-select
                                    v-model="perPage"
                                    id="perPageSelect"
                                    size="sm"
                                    :options="pageOptions"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>

        <app-footer />
    </main>
</template>

<script>
export default {
    data() {
        return {
            isBusy: true,
            currentPage: 1,
            totalRows: null,
            perPage: 15,
            pageOptions: [15, 50, 100],
            fields: [
                {
                    key: "name",
                    label: "Nom",
                },
                {
                    key: "product_category.name",
                    label: "Catégorie de produit"
                },
                {
                    key: "actions",
                    label: "Actions"
                }
            ],
            products: [],
            product: {
                name: null,
                product_category_id: null
            },
            nameState: null,
            productCategoryState: null,
            product_categories: []
        }
    },
    watch: {
        currentPage(value) {
            this.searchProducts()
        },
        perPage(value) {
            this.searchProducts()
        }
    },
    methods: {
        newProduct() {
            this.$bvModal.show("new-product")
        },
        resetNewProductModal() {
            this.nameState = null
            this.productCategoryState = null
        },
        handleNewProductOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            this.handleNewProductSubmit()
        },
        handleNewProductSubmit() {
            if (!this.checkFormValidity())
                return
            
            axios
                .post("/api/products", {
                    name: this.product.name,
                    product_category_id: this.product.product_category_id
                })
                .then(response => {
                    this.$bvModal.hide("new-product")
                })
                .catch(error => console.log(error))
        },
        editProduct(id) {
            this.product = this.products.find(pc => pc.id == id)
            this.$bvModal.show("edit-product")
        },
        checkFormValidity() {
            const valid = this.$refs.form.checkValidity()
            this.nameState = valid
            this.productCategoryState = valid

            return valid
        },
        resetEditProductModal() {
            this.nameState = null
            this.productCategoryState = null
        },
        handleEditProductOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            this.handleEditProductSubmit()
        },
        handleEditProductSubmit() {
            if (!this.checkFormValidity())
                return
            
            axios
                .put("/api/products/" + this.product.id, {
                    id: this.product.id,
                    name: this.product.name,
                    product_category_id: this.product.product_category_id
                })
                .then(response => {
                    this.$bvModal.hide("edit-product")
                })
                .catch(error => console.log(error))
        },
        deleteProduct(id) {
            this.product = this.products.find(u => u.id == id)
            this.$bvModal.show("delete-product")
        },
        handleDeleteProductOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            axios
                .delete("/api/products/" + this.product.id)
                .then(response => {
                    this.products = this.products.filter(u => u.id != this.product.id)

                    this.$bvModal.hide("delete-product")
                })
                .catch(error => console.log(error))
        },
        searchProducts() {
            this.isBusy = true
            
            axios
                .get("/api/products/search", { params: { page: this.currentPage, per_page: this.perPage }})
                .then(response => {
                    this.products = response.data.data
                    this.totalRows = response.data.total
                    this.isBusy = false
                })
                .catch(error => console.error(error))
        }
    },
    mounted() {
       this.searchProducts()

       axios
            .get("/api/product/categories")
            .then(response => {
                this.product_categories = response.data.map(pc => {
                    pc.text = pc.name
                    pc.value = pc.id
                    return pc
                })
            })
            .catch(error => console.error(error))
    }
}
</script>