<template>
    <main>
        <navbar />

        <b-modal
            id="edit-user"
            ref="modal"
            title="Edition de l'utilisateur"
            size="lg"
            @show="resetEditUserModal"
            @ok="handleEditUserOk">
            <form ref="form" @submit.stop.prevent="handleEditUserSubmit">
                <b-form-group
                    :state="firstnameState"
                    label="Firstname"
                    label-for="firstname-input"
                    invalid-feedback="Firstname is required"
                    >
                    <b-form-input
                        id="firstname-input"
                        v-model="user.firstname"
                        :state="firstnameState"
                        required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    :state="lastnameState"
                    label="Lastname"
                    label-for="lastname-input"
                    invalid-feedback="Lastname is required"
                    >
                    <b-form-input
                        id="lastname-input"
                        v-model="user.lastname"
                        :state="lastnameState"
                        required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    :state="emailState"
                    label="Email"
                    label-for="email-input"
                    invalid-feedback="Email is required"
                    >
                    <b-form-input
                        id="email-input"
                        v-model="user.email"
                        :state="emailState"
                        type="email"
                        required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    :state="emailState"
                    label="Address"
                    label-for="address-input"
                    invalid-feedback="Address is required"
                    >
                    <b-form-input
                        id="address-input"
                        v-model="user.address"
                        :state="addressState"
                        required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    :state="typeState"
                    label="Type"
                    label-for="type-input"
                    invalid-feedback="Type is required">
                    <b-form-select
                        id="type-input"
                        v-model="user.type"
                        :options="types"
                        required
                        ></b-form-select>
                </b-form-group>
            </form>
        </b-modal>

        <b-modal
            id="ban-user"
            ref="modal"
            title="Bannissement de l'utilisateur"
            @show="resetBanUserModal"
            @ok="handleBanUserOk"
            >
            <form ref="form"
                @submit.stop.prevent="handleBanUserSubmit">
                <b-form-group
                    :state="reasonState"
                    label="Raison"
                    label-for="reason-input"
                    invalid-feedback="Raison is required">
                    <b-form-input
                        id="reason-input"
                        v-model="ban.reason"
                        :state="reasonState"
                        required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    :state="durationState"
                    label="Durée"
                    label-for="duration-input"
                    invalid-feedback="Durée is required">
                    <b-form-input
                        id="duration-input"
                        v-model="ban.duration"
                        :state="durationState"
                        type="number"
                        required
                    ></b-form-input>
                </b-form-group>
            </form>
        </b-modal>

        <b-modal
            id="delete-user"
            ref="modal"
            title="Supprimer l'utilisateur"
            okVariant="danger"
            @ok="handleDeleteUserOk">
            <p class="text-danger">Voulez-vous vraiment supprimer cette utilisateur ?</p>
        </b-modal>

        <b-container fluid class="pb-5">
            <b-row>
                <b-col cols="12">
                    <h1>Utilisateurs</h1>

                    <b-table :fields="fields" :items="users" :busy="isBusy">
                        <template v-slot:cell(name)="row">
                            {{ row.item.lastname }} {{ row.item.firstname }}
                        </template>
                        <template v-slot:cell(type)="row">
                            <b-badge v-if="row.item.type == 'user'">Utilisateur</b-badge>
                            <b-badge v-if="row.item.type == 'professional'">Professionnel</b-badge>
                            <b-badge v-if="row.item.type == 'expert'">Expert</b-badge>
                        </template>
                        <template v-slot:cell(actions)="row">
                            <b-button-group size="sm">
                                <b-button @click="editUser(row.item.id)">
                                    <b-icon icon="pencil"></b-icon>
                                </b-button>

                                <!--<b-button variant="warning" @click="banUser(row.item.id)">
                                    Bannir
                                </b-button>-->

                                <b-button variant="danger" @click="deleteUser(row.item.id)">
                                    <b-icon icon="trash"></b-icon>
                                </b-button>
                            </b-button-group>
                        </template>
                        <template v-slot:table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Chargement...</strong>
                            </div>
                        </template>
                    </b-table>

                    <b-row>
                        <b-col cols="4">
                            <b-pagination
                                v-model="currentPage"
                                :total-rows="totalRows"
                                :per-page="perPage"
                                align="fill"
                                size="sm"
                                class="my-0"
                                ></b-pagination>
                        </b-col>
                        <b-col cols="4" offset="4">
                            <b-form-group
                                label="Resultats par page"
                                label-cols-sm="6"
                                label-cols-md="4"
                                label-cols-lg="3"
                                label-align-sm="right"
                                label-size="sm"
                                label-for="perPageSelect"
                                class="mb-0"
                                >
                                <b-form-select
                                    v-model="perPage"
                                    id="perPageSelect"
                                    size="sm"
                                    :options="pageOptions"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>

        <app-footer />
    </main>
</template>

<script>
export default {
    data() {
        return {
            isBusy: true,
            currentPage: 1,
            totalRows: null,
            perPage: 15,
            pageOptions: [15, 50, 100],
            fields: [
                {
                    key: "name",
                    label: "Nom",
                },
                {
                    key: "email",
                    label: "Email",
                },
                {
                    key: "type",
                    label: "Type"
                },
                {
                    key: "actions",
                    label: "Actions"
                }
            ],
            users: [],
            user: {
                firstname: null,
                lastname: null,
                email: null,
                type: null,
                address: null
            },
            firstnameState: null,
            lastnameState: null,
            emailState: null,
            addressState: null,
            typeState: null,
            reasonState: null,
            durationState: null,
            types: [
                {
                    text: "Selectionner un type",
                    value: null,
                },
                {
                    text: "Utilisateur",
                    value: "user"
                },
                {
                    text: "Professionnel",
                    value: "professional"
                },
                {
                    text: "Expert",
                    value: "expert"
                },
                {
                    text: "Administrateur",
                    value: "admin"
                }
            ],
            ban: {
                reason: null,
                duration: null
            }
        }
    },
    watch: {
        currentPage(value) {
            this.searchUsers()
        },
        perPage(value) {
            this.searchUsers()
        }
    },
    methods: {
        editUser(userId) {
            this.user = this.users.find(u => u.id == userId)
            this.$bvModal.show("edit-user")
        },
        checkFormValidity() {
            const valid = this.$refs.form.checkValidity()
            this.firstnameState = valid
            this.lastnameState = valid
            this.emailState = valid
            this.addressState = valid
            this.typeState = valid

            return valid
        },
        resetEditUserModal() {
            this.firstnameState = null
            this.lastnameState = null
            this.emailState = null
            this.addressState = null
            this.typeState = null
        },
        handleEditUserOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            this.handleEditUserSubmit()
        },
        handleEditUserSubmit() {
            if (!this.checkFormValidity())
                return
            
            axios
                .put("/api/users/" + this.user.id, {
                    id: this.user.id,
                    firstname: this.user.firstname,
                    lastname: this.user.lastname,
                    email: this.user.email,
                    address: this.user.address,
                    type: this.user.type
                })
                .then(response => {
                    this.$bvModal.hide("edit-user")
                })
                .catch(error => console.log(error))
        },
        banUser(userId) {
            this.user = this.users.find(u => u.id == userId)
            this.$bvModal.show("ban-user")
        },
        resetBanUserModal() {
            this.ban.reason = null
            this.ban.duration = null

            this.reasonState = null
            this.durationState = null
        },
        handleBanUserOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            this.handleBanUserSubmit()
        },
        handleBanUserSubmit() {
            if (!this.checkFormValidity())
                return
            
            this.$nextTick(() => {
                this.$bvModal.hide("ban-user")
            })
        },
        deleteUser(userId) {
            this.user = this.users.find(u => u.id == userId)
            this.$bvModal.show("delete-user")
        },
        handleDeleteUserOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            axios
                .delete("/api/users/" + this.user.id)
                .then(response => {
                    this.users = this.users.filter(u => u.id != this.user.id)

                    this.$bvModal.hide("delete-user")
                })
                .catch(error => console.log(error))
        },
        searchUsers() {
            this.isBusy = true
            
            axios
                .get("/api/users/search", { params: { page: this.currentPage, per_page: this.perPage }})
                .then(response => {
                    this.users = response.data.data
                    this.totalRows = response.data.total
                    this.isBusy = false
                })
                .catch(error => console.error(error))
        }
    },
    mounted() {
       this.searchUsers()
    }
}
</script>